name: Go Format

on:
  push:
    paths:
      - "**.go"

jobs:
  gofmt:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22.2'
          cache: false
      
      - name: CD src
        run: cd src && echo "ここまでOK"

      - name: Run go fmt

        run: go fmt ./...
